
.Show{
    display: block;
}
.Hide {
    display: none;
}

.button .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button .actions button{
    width: auto;
    
   
    padding: 15px 32px;
    line-height: 24px;  
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    color: #FFF;
    border: 1px solid #DDD;

    font: 500 1.6rem Russo One;

    display: flex;
    justify-content: space-between;
    align-items: center;



    transition: all 0.2s;
}

.button .actions button:hover {
    background: #da552f;
    color: #FFF;
    opacity: 0.7;
}

.button .actions button[name=start] { 
    background: #6FCF97;
}

.button .actions button[name=stop] {
    background: #eb5757;
}

.button .actions button[name=restart] {
    background: #f2994a;
}
