.clock p {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 2.4rem Russo One;
    margin-bottom: 100px;
    
    font-weight: bold;
    font-size: 5vw;
}

.clock div[name=initialState] {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 2.4rem Russo One;

    font-weight: bold;
    font-size: 5vw;
}