html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    
    grid-template-areas:
    "h h"
    "m a" 
    ;
    
    grid-gap: 40px;


}

.container header {
    grid-area: h;
    height: 100px;
    
   
} 

.container header p {  
    height: 100px;
    font: 700 2.4rem Russo One;
    font-weight: bold;
    font-size: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;  
} 



.container main {
    grid-area: m;
    height: 100px;   
}

.container main div[name=initialState] {
    height: 100px;
    font: 700 2.4rem Russo One;
    font-weight: bold;
    font-size: 5vw;

    margin-left: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .buttonClass {
    margin-left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;

    padding: 10px 32px;
    line-height: 24px;  
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    color: #FFF;
    border: 1px #DDD;

    font: 500 1.6rem Russo One;

    transition: all 0.2s;
}

.container aside {
    grid-area: a;
    
    
    display: flex;
    justify-content: center;
    align-self: flex-start;

    padding: 10px 32px;
    line-height: 24px;  
    border-radius: 10px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    color: #a9a9a9;

    font: 700 2.4rem Russo One;

}

.container aside p {
    color: black;
}